
.chat-container{ height: 300px; overflow: auto; }
.users-container{ height: 300px; overflow: auto; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
